defaults/flow.json
[{"id":"80d656be.72c268","type":"tab","label":"Main"},{"id":"566b76d2.e28238","type":"websocket-listener","z":"","path":"/ws/audio","wholemsg":"false"},{"id":"337b3620.90498a","type":"ibmiot","z":"","name":"","keepalive":"","cleansession":true,"appId":"","shared":false},{"id":"c5b76608.c0e108","type":"ibmiot out","z":"80d656be.72c268","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"device","deviceType":"default","eventCommandType":"audio","format":"json","data":"{}","qos":"","name":"Publish Audio","service":"registered","x":2320,"y":120,"wires":[]},{"id":"3bf3ab57.facca4","type":"function","z":"80d656be.72c268","name":"Format Speech","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1900,"y":120,"wires":[["dcfe9310.1b27","3d7d7f40.087b"]]},{"id":"dcfe9310.1b27","type":"function","z":"80d656be.72c268","name":"Publish audio to IoT","func":"msg.encode = new Buffer(msg.speech).toString(\"base64\");\nnode.warn(\"size: \" + msg.encode.length);\nnode.warn(\"data size: \"+msg.speech.length);\nvar response = [];\n\nresponse.push({payload: \"{\\\"type\\\":\\\"start\\\",\\\"id\\\":\\\"1\\\",\\\"size\\\":\"+msg.speech.length+\"}\", deviceId: msg.deviceId});\nvar pos = 0;\nvar numPackets = (msg.encode.length + 3500 - 1)/3500;\nfor (var index=0; index < numPackets; index++) {\n    var remLength = msg.encode.substring(pos).length;\n    var chunkLength;\n    if (remLength > 3500) {\n        chunkLength = 3500;\n    } else {\n        chunkLength = remLength;\n    }\n    var chunk = msg.encode.substring(pos,pos+chunkLength);\n    pos += 3500;\n    if (chunk !== \"\") {\n        response.push({payload: \"{\\\"type\\\":\\\"body\\\",\\\"id\\\":\\\"1\\\",\\\"body\\\":\\\"\"+chunk+\"\\\"}\", deviceId: msg.deviceId});\n    }\n}\nresponse.push({payload: \"{\\\"type\\\":\\\"end\\\",\\\"id\\\":\\\"1\\\"}\", deviceId: msg.deviceId});\nreturn [response];","outputs":1,"noerr":0,"x":2120,"y":120,"wires":[["c5b76608.c0e108"]]},{"id":"3d7d7f40.087b","type":"websocket out","z":"80d656be.72c268","name":"Audio Out","server":"566b76d2.e28238","client":"","x":2120,"y":320,"wires":[]},{"id":"5e2b3e1c.8c3c1","type":"comment","z":"80d656be.72c268","name":"Publish to WIoT","info":"","x":2320,"y":80,"wires":[]},{"id":"830274c2.1663a8","type":"ibmiot out","z":"80d656be.72c268","authentication":"boundService","apiKey":"337b3620.90498a","outputType":"cmd","deviceId":"device","deviceType":"default","eventCommandType":"text","format":"json","data":"{}","qos":0,"name":"Publish Text","service":"registered","x":2330,"y":180,"wires":[]},{"id":"770e6350.9b8e0c","type":"function","z":"80d656be.72c268","name":"Format Text","func":"msg.payload = { \"text\": msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":180,"wires":[["830274c2.1663a8"]]},{"id":"711446fa.1b0668","type":"http in","z":"80d656be.72c268","name":"","url":"/audio","method":"get","swaggerDoc":"","x":590,"y":320,"wires":[["693342e6.dc3a5c"]]},{"id":"693342e6.dc3a5c","type":"template","z":"80d656be.72c268","name":"","field":"","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audio\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Playing audio.')\n          \n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Waiting for audio...')\n          \n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){ \n          console.log(\"Websocket error\"); \n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. Refresh the page?')\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt); \n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n    });\n  </script>\n  \n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n</body>\n</html>","x":733.6031875610352,"y":320.14283180236816,"wires":[["7b25822.4066e7c"]]},{"id":"20caff54.97622","type":"comment","z":"80d656be.72c268","name":"Send audio to speaker","info":"","x":600,"y":280,"wires":[]},{"id":"c3866dec.dded5","type":"ibmiot in","z":"80d656be.72c268","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"","eventType":"text","commandType":"","format":"json","name":"Text Transcript","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":false,"qos":"0","x":140,"y":140,"wires":[["916ab2f.1e1e25","d2d13515.c93178","9a88da63.f46e38"]]},{"id":"916ab2f.1e1e25","type":"function","z":"80d656be.72c268","name":"Set User & Transcript","func":"msg.payload = msg.payload.d.text;\nmsg.user = msg.deviceId;\nmsg.date = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":386,"y":139,"wires":[["a249514a.07f73","d6bb3de4.51173"]]},{"id":"d2d13515.c93178","type":"debug","z":"80d656be.72c268","name":"Complete Payload","active":true,"console":"false","complete":"true","x":390,"y":100,"wires":[]},{"id":"a249514a.07f73","type":"function","z":"80d656be.72c268","name":"Timestamp","func":"currentDate = new Date();\nmsg.currentTime = currentDate.getHours() + \"h:\" + currentDate.getMinutes() + \"m:\" + currentDate.getSeconds() + \"s:\" + currentDate.getMilliseconds() + \"ms\";\nnode.warn(\"Received Text Transcription - \" + msg.currentTime);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":100,"wires":[[]]},{"id":"9a88da63.f46e38","type":"debug","z":"80d656be.72c268","name":"Device ID","active":true,"console":"false","complete":"deviceId","x":380,"y":60,"wires":[]},{"id":"85fd5f05.0ce6a","type":"comment","z":"80d656be.72c268","name":"Enter Workspace ID","info":"","x":610,"y":180,"wires":[]},{"id":"3589e165.848f2e","type":"watson-text-to-speech","z":"80d656be.72c268","name":"Text to Speech","lang":"en-US","langhidden":"en-US","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"dtDhdiuiLUyZ","x":1660,"y":120,"wires":[["3bf3ab57.facca4"]]},{"id":"d6bb3de4.51173","type":"watson-conversation-v1","z":"80d656be.72c268","name":"Conversation","workspaceid":"068e29a5-76b3-433b-b0e6-899d7c95630b","multiuser":true,"context":true,"x":600,"y":140,"wires":[["3ab4f837.ed54b8","8e0f4ceb.629ca"]]},{"id":"4b53ed46.4c60f4","type":"http in","z":"80d656be.72c268","name":"","url":"/conversered","method":"post","swaggerDoc":"","x":150,"y":320,"wires":[["55ed4ba7.8da044"]]},{"id":"73a5e403.b92a5c","type":"function","z":"80d656be.72c268","name":"Set output","func":"msg.payload = [msg.payload.output.text[0]];\nmsg.headers = {\n \"Access-Control-Allow-Origin\":\"*\",\n \"Access-Control-Allow-Method\":\"GET,POST,PUT,DELETE,OPTIONS\",\n \"Access-Control-Allow-Headers\":\"Origin, X-Requested-With, Content-Type, Accept\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":180,"wires":[["7b25822.4066e7c","deeeae0a.2e26d"]]},{"id":"3ab4f837.ed54b8","type":"debug","z":"80d656be.72c268","name":"Intents","active":true,"console":"false","complete":"payload","x":790,"y":80,"wires":[]},{"id":"f19854b5.d239c8","type":"comment","z":"80d656be.72c268","name":"Device input from WIoT","info":"","x":140,"y":100,"wires":[]},{"id":"e3d1b8f.6210448","type":"comment","z":"80d656be.72c268","name":"Conversation endpoint","info":"","x":140,"y":280,"wires":[]},{"id":"7b25822.4066e7c","type":"http response","z":"80d656be.72c268","name":"","x":1630,"y":320,"wires":[]},{"id":"8e0f4ceb.629ca","type":"switch","z":"80d656be.72c268","name":"Check Intents","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"weather","vt":"str"},{"t":"eq","v":"datetime","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":800,"y":140,"wires":[["f02c3d1a.d305e"],["91d37c18.9c927"],["73a5e403.b92a5c"]]},{"id":"55ed4ba7.8da044","type":"function","z":"80d656be.72c268","name":"Set Default User","func":"flow.set('lat', msg.payload.lat);\nflow.set('long', msg.payload.long);\nmsg.payload = msg.payload.text;\nmsg.user = \"Default\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":320,"wires":[["d6bb3de4.51173"]]},{"id":"ce601a19.d56598","type":"http request","z":"80d656be.72c268","name":"Get weather","method":"GET","ret":"obj","url":"","tls":"","x":1210,"y":100,"wires":[["531ac892.93a6d8"]]},{"id":"f02c3d1a.d305e","type":"function","z":"80d656be.72c268","name":"Set weather URL","func":"var lat = flow.get('lat');\nvar long = flow.get('long');\n\nmsg.url = 'https://twcservice.mybluemix.net:443/api/weather/v1/geocode/' + lat + '/' + long + '/forecast/daily/10day.json?units=m&language=en-US';\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":100,"wires":[["ce601a19.d56598"]]},{"id":"531ac892.93a6d8","type":"function","z":"80d656be.72c268","name":"Weather response","func":"msg.payload = ['The temperature is ' + msg.payload.forecasts[0].narrative + ' degrees celcius.']\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":100,"wires":[["7b25822.4066e7c","deeeae0a.2e26d"]]},{"id":"91d37c18.9c927","type":"function","z":"80d656be.72c268","name":"Set date time URL","func":"var lat = flow.get('lat');\nvar long = flow.get('long');\n\nmsg.url = 'http://api.geonames.org/timezoneJSON?lat=' + lat + '&lng=' + long + '&username=cognibot';\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":140,"wires":[["3b00de02.5a4102"]]},{"id":"3b00de02.5a4102","type":"http request","z":"80d656be.72c268","name":"Get date time","method":"GET","ret":"obj","url":"","tls":"","x":1200,"y":140,"wires":[["1425ef1f.6a59a1"]]},{"id":"1425ef1f.6a59a1","type":"function","z":"80d656be.72c268","name":"Date time response","func":"msg.payload = ['The current date and time is ' + msg.payload.time]\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":140,"wires":[["deeeae0a.2e26d","7b25822.4066e7c"]]},{"id":"deeeae0a.2e26d","type":"function","z":"80d656be.72c268","name":"Format Output","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":1660,"y":180,"wires":[["3589e165.848f2e","770e6350.9b8e0c"]]},{"id":"54a21ca5.714da4","type":"comment","z":"80d656be.72c268","name":"Enter TTS Credentials","info":"","x":1660,"y":80,"wires":[]},{"id":"71b76a74.337444","type":"comment","z":"80d656be.72c268","name":"Enter API Info","info":"","x":1210,"y":60,"wires":[]}]
