defaults/flow.json
[{"id":"7c88ce6d.23512","type":"tab","label":"Conversation"},{"id":"99ccde8b.e0dcf","type":"tab","label":"Speech to Text"},{"id":"5f012eda.93f3d","type":"tab","label":"Text to Speech"},{"id":"f44213e0.6b0cc","type":"tab","label":"Tone Analyser"},{"id":"a73b6354.5d21e","type":"tab","label":"Natural Langage Classifier"},{"id":"150e1f6b.17a5d1","type":"tab","label":"Feature Extract"},{"id":"73003e38.6d70e","type":"inject","z":"f44213e0.6b0cc","name":"String","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":91,"y":68,"wires":[["9a38b7c2.f7eb38"]]},{"id":"bde75f46.94e3a","type":"debug","z":"f44213e0.6b0cc","name":"","active":true,"console":"false","complete":"response","x":782.5000457763672,"y":132.93333435058594,"wires":[]},{"id":"9a38b7c2.f7eb38","type":"function","z":"f44213e0.6b0cc","name":"Prepare Request","func":"var data = \"Hi Team, I know the times are difficult! Our sales have been disappointing for the past three quarters for our data analytics product suite. We have a competitive data analytics product suite in the industry. But we need to do our job selling it!\";\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":325.5,"y":67.933349609375,"wires":[["3391faf5.e3e166"]]},{"id":"3cddcc5a.d67834","type":"dropbox","z":"f44213e0.6b0cc","dropbox":"","filename":"aDialogTemplateFile.txt","name":"","x":342.5,"y":134,"wires":[["3391faf5.e3e166"]]},{"id":"4746b6e8.5737a8","type":"inject","z":"f44213e0.6b0cc","name":"From Dropbox","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":111.5,"y":134,"wires":[["3cddcc5a.d67834"]]},{"id":"36aa5742.b7bea8","type":"http request","z":"f44213e0.6b0cc","name":"Get Buffer => Binary","method":"GET","ret":"bin","url":"https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/dialog/download/Exercise_8_end.xml","x":334,"y":196,"wires":[["3391faf5.e3e166"]]},{"id":"60db19a0.ff0848","type":"inject","z":"f44213e0.6b0cc","name":"Buffer Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104,"y":196,"wires":[["36aa5742.b7bea8"]]},{"id":"4f0a3052.43b6","type":"inject","z":"150e1f6b.17a5d1","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":78,"y":57,"wires":[["e088029e.a9b5a"]]},{"id":"e088029e.a9b5a","type":"function","z":"150e1f6b.17a5d1","name":"Prepare Request","func":"msg.payload=\"AlchemyAPI uses natural language processing, artificial intelligence, deep learning and massive-scale web crawling to power it's text analysis capabilities. Try entering your own text in this text box to see what knowledge AlchemyAPI can extract from your unstructured data\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":54,"wires":[["a70128d5.5ff2e8"]]},{"id":"a70128d5.5ff2e8","type":"alchemy-feature-extract","z":"150e1f6b.17a5d1","name":"","page-image":true,"image-kw":true,"feed":true,"entity":true,"keyword":true,"title":true,"author":true,"taxonomy":true,"concept":true,"relation":true,"pub-date":true,"doc-sentiment":true,"x":515,"y":90,"wires":[["1a0220e2.d9efff"]]},{"id":"1a0220e2.d9efff","type":"debug","z":"150e1f6b.17a5d1","name":"","active":true,"console":"true","complete":"features","x":712,"y":88,"wires":[]},{"id":"c24c8be3.a5abf8","type":"http request","z":"150e1f6b.17a5d1","name":"","method":"GET","ret":"txt","url":"ibm.com","x":249,"y":124,"wires":[["a70128d5.5ff2e8"]]},{"id":"b90162a7.03fc3","type":"inject","z":"150e1f6b.17a5d1","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":81,"y":125,"wires":[["c24c8be3.a5abf8"]]},{"id":"fc4fa45e.775078","type":"comment","z":"150e1f6b.17a5d1","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Alchemy API Feature Extract Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/alchemy_api_feature_extraction)","x":115,"y":20,"wires":[]},{"id":"8ab1fc53.d520a","type":"comment","z":"f44213e0.6b0cc","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n- [Watson Tone Analyser Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/tone_analyser)\n","x":115,"y":20,"wires":[]},{"id":"675754d0.0ee91c","type":"comment","z":"a73b6354.5d21e","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Natural Language Classifier](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/natural_language_classifier)\n","x":115,"y":20,"wires":[]},{"id":"9aaa5f52.2432e","type":"inject","z":"a73b6354.5d21e","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":92,"y":79,"wires":[["2d83f073.7e22b"]]},{"id":"daa1c6b9.de5ee8","type":"inject","z":"a73b6354.5d21e","name":"Ask","topic":"","payload":"Is it hot ?","payloadType":"string","repeat":"","crontab":"","once":false,"x":92,"y":137,"wires":[["b09c6aa7.87ae48"]]},{"id":"2d83f073.7e22b","type":"function","z":"a73b6354.5d21e","name":"get NLC status","func":"msg.url=\"https://gateway.watsonplatform.net/natural-language-classifier/api/v1/classifiers/D385B2-nlc-530\";\nreturn msg;","outputs":1,"noerr":0,"x":281,"y":78,"wires":[["d279fe20.52d0d"]]},{"id":"b09c6aa7.87ae48","type":"function","z":"a73b6354.5d21e","name":"Ask NLC question","func":"msg.url=\"https://gateway.watsonplatform.net/natural-language-classifier/api/v1/classifiers/D385B2-nlc-530/classify?text=\" + encodeURI(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":268,"y":136,"wires":[["d279fe20.52d0d"]]},{"id":"d279fe20.52d0d","type":"http request","z":"a73b6354.5d21e","name":"","method":"GET","ret":"txt","url":"","x":494,"y":100,"wires":[["f0b8935d.9e4c3"]]},{"id":"f0b8935d.9e4c3","type":"debug","z":"a73b6354.5d21e","name":"","active":true,"console":"false","complete":"false","x":703,"y":102,"wires":[]},{"id":"f4b05a9f.1fe3c8","type":"comment","z":"99ccde8b.e0dcf","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Speech to Text](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/speech_to_text)\n","x":115,"y":20,"wires":[]},{"id":"76aefcef.533634","type":"comment","z":"5f012eda.93f3d","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Text to Speech](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/text_to_speech)\n","x":115,"y":20,"wires":[]},{"id":"24ee058e.86dc2a","type":"change","z":"5f012eda.93f3d","name":"text to payload","rules":[{"t":"set","p":"payload","to":"msg.payload.text_to_say"},{"t":"set","p":"text_to_say","to":"msg.payload"}],"action":"","property":"","from":"","to":"","reg":false,"x":368,"y":81,"wires":[["e5d1df49.9494f"]]},{"id":"87ab6442.f98b28","type":"http in","z":"5f012eda.93f3d","name":"","url":"/talk","method":"get","swaggerDoc":"","x":69,"y":302,"wires":[["a33c230f.65dff"]]},{"id":"a33c230f.65dff","type":"switch","z":"5f012eda.93f3d","name":"check text","property":"payload.text_to_say","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":231,"y":301,"wires":[["d2757e1b.17f3e"],["3a98d0a7.fa7c"]]},{"id":"3a98d0a7.fa7c","type":"template","z":"5f012eda.93f3d","name":"GetTextToSay","field":"payload","format":"html","template":"<h1>Enter text to Say</h1>\n<form action=\"{{req._parsedUrl.pathname}}\" method=\"get\">\n    <input type=\"text\" name=\"text_to_say\" id=\"\" value=\"{{payload.text_to_say}}\" />\n    <input type=\"submit\" value=\"Say it!\"/>\n</form>","x":446,"y":326,"wires":[["1ec0a81b.dd1b88"]]},{"id":"1ec0a81b.dd1b88","type":"http response","z":"5f012eda.93f3d","name":"Reply","x":651,"y":295,"wires":[]},{"id":"d2757e1b.17f3e","type":"template","z":"5f012eda.93f3d","name":"Generate Reply","field":"payload","format":"html","template":"<h1>You want to say</h1>\n<p><q>{{payload}}</q></p>\n<p>Hear it:</p>\n<audio controls autoplay>\n  <source src=\"{{req._parsedUrl.pathname}}/sayit?text_to_say={{payload.text_to_say}}\" type=\"audio/wav\">\nYour browser does not support the audio element.\n</audio>\n<p>Thanks!</p>\n<form action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"text\" name=\"text_to_say\" id=\"\" value=\"{{payload.text_to_say}}\" />\n    <input type=\"submit\" value=\"Try Again\" />\n</form>","x":446,"y":270,"wires":[["1ec0a81b.dd1b88"]]},{"id":"bdb18882.aa5668","type":"http in","z":"5f012eda.93f3d","name":"","url":"/talk/sayit","method":"get","swaggerDoc":"","x":87,"y":76,"wires":[["196ce77a.7a3da9"]]},{"id":"e41fc54f.bb7f58","type":"http response","z":"5f012eda.93f3d","name":"Reply Speech binary","x":773,"y":166,"wires":[]},{"id":"e5d1df49.9494f","type":"watson-text-to-speech","z":"5f012eda.93f3d","name":"","lang":"english","voice":"en-US_AllisonVoice","x":548,"y":80,"wires":[["7d2467d.54fcc98"]]},{"id":"196ce77a.7a3da9","type":"switch","z":"5f012eda.93f3d","name":"Check text","property":"payload.text_to_say","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":202,"y":129,"wires":[["24ee058e.86dc2a"],["e16ef042.d9d6b"]]},{"id":"e16ef042.d9d6b","type":"template","z":"5f012eda.93f3d","name":"Error","field":"payload","format":"handlebars","template":"<h1>\nError:    No f or text_to_say query parameter\n</h1>","x":342,"y":164,"wires":[["e41fc54f.bb7f58"]]},{"id":"7d2467d.54fcc98","type":"change","z":"5f012eda.93f3d","name":"Speech to payload","rules":[{"t":"set","p":"payload","to":"msg.speech"}],"action":"","property":"","from":"","to":"","reg":false,"x":739,"y":80,"wires":[["489871c.e200a9"]]},{"id":"489871c.e200a9","type":"function","z":"5f012eda.93f3d","name":"Set headers","func":"// Set the content type to audio wave\nvar wavFileName=msg.text_to_say.replace(' ','_');\nif(wavFileName.length>32) {\n    wavFileName=wavFileName.substr(0,32);\n}\nvar attch='attachment; filename='+encodeURIComponent(wavFileName+'.wav');\nmsg.headers={ 'Content-Type': 'audio/wav',\n              'Content-Disposition': attch};\n\nreturn msg;","outputs":1,"noerr":0,"x":579,"y":132,"wires":[["e41fc54f.bb7f58"]]},{"id":"cb847d2d.0ad25","type":"comment","z":"f44213e0.6b0cc","name":"Make sure you bind Tone Analyser Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Tone Analyser Service has to be bound to the Node-RED application.\n","x":652,"y":20,"wires":[]},{"id":"e6f40506.cd2278","type":"comment","z":"150e1f6b.17a5d1","name":"Make sure you bind Alchemy API Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the IBM Alchemy API Service has to be bound to the Node-RED application.\n","x":636,"y":20,"wires":[]},{"id":"1b36e3a3.a0453c","type":"comment","z":"a73b6354.5d21e","name":"Make sure you bind Natural Language Classifier Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Natural Langage Classifier Service has to be bound to the Node-RED application.\n","x":586,"y":20,"wires":[]},{"id":"bd7277ec.bc5558","type":"comment","z":"99ccde8b.e0dcf","name":"Make sure you bind Speech to Text Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Speech to Text Service has to be bound to the Node-RED application.\n","x":615,"y":20,"wires":[]},{"id":"7f3bb646.075988","type":"comment","z":"5f012eda.93f3d","name":"Make sure you bind Text to Speech Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Text to Speech Service has to be bound to the Node-RED application.\n","x":640,"y":20,"wires":[]},{"id":"2f1c669b.55966a","type":"watson-natural-language-classifier","z":"a73b6354.5d21e","name":"Train","mode":"create","language":"en","classifier":"","x":476,"y":314,"wires":[["64cc189.a9c69e8"]]},{"id":"850a59b8.e7a268","type":"inject","z":"a73b6354.5d21e","name":"","topic":"","payload":"Create","payloadType":"str","repeat":"","crontab":"","once":false,"x":89,"y":263,"wires":[["9d0ffeec.3f332"]]},{"id":"64cc189.a9c69e8","type":"debug","z":"a73b6354.5d21e","name":"","active":true,"console":"false","complete":"false","x":749,"y":312,"wires":[]},{"id":"9d0ffeec.3f332","type":"dropbox","z":"a73b6354.5d21e","dropbox":"","filename":"weather_data_train.csv","name":"","x":256,"y":311,"wires":[["2f1c669b.55966a"]]},{"id":"4be54e6e.841bf","type":"inject","z":"a73b6354.5d21e","name":"","topic":"","payload":"Get List","payloadType":"str","repeat":"","crontab":"","once":false,"x":85,"y":380,"wires":[["3542e5cd.462dea"]]},{"id":"3542e5cd.462dea","type":"watson-natural-language-classifier","z":"a73b6354.5d21e","name":"List","mode":"list","language":"en","classifier":"","x":462,"y":376,"wires":[["1ef35608.15f3da"]]},{"id":"1ef35608.15f3da","type":"debug","z":"a73b6354.5d21e","name":"","active":true,"console":"false","complete":"false","x":738,"y":380,"wires":[]},{"id":"c02f9bf5.cbafe8","type":"watson-natural-language-classifier","z":"a73b6354.5d21e","name":"Classify","mode":"classify","language":"en","classifier":"f1704ex55-nlc-488","x":460,"y":447,"wires":[["d7083bce.9405c8"]]},{"id":"9afc6806.52b9b8","type":"inject","z":"a73b6354.5d21e","name":"","topic":"","payload":"Is it hot?","payloadType":"str","repeat":"","crontab":"","once":false,"x":96,"y":434,"wires":[["c02f9bf5.cbafe8"]]},{"id":"d7083bce.9405c8","type":"debug","z":"a73b6354.5d21e","name":"","active":true,"console":"false","complete":"false","x":738,"y":451,"wires":[]},{"id":"45566d25.5773f4","type":"inject","z":"a73b6354.5d21e","name":"","topic":"","payload":"f15e67x54-nlc-454","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":518,"wires":[["17aa027b.895f3e"]]},{"id":"17aa027b.895f3e","type":"watson-natural-language-classifier","z":"a73b6354.5d21e","name":"Remove","mode":"remove","language":"en","classifier":"","x":458,"y":524,"wires":[["1d26141a.3b705c"]]},{"id":"1d26141a.3b705c","type":"debug","z":"a73b6354.5d21e","name":"","active":true,"console":"false","complete":"false","x":735,"y":520,"wires":[]},{"id":"4ea24d53.f78b54","type":"inject","z":"a73b6354.5d21e","name":"","topic":"","payload":"Is it humid?","payloadType":"str","repeat":"","crontab":"","once":false,"x":106,"y":469,"wires":[["c02f9bf5.cbafe8"]]},{"id":"2562bf51.328f7","type":"inject","z":"99ccde8b.e0dcf","name":".wav URL","topic":"","payload":"https://github.com/watson-developer-cloud/node-red-labs/blob/master/basic_examples/speech_to_text/audio_message.wav","payloadType":"str","repeat":"","crontab":"","once":false,"x":95,"y":81,"wires":[["5a798789.61ea58"]]},{"id":"5a798789.61ea58","type":"watson-speech-to-text","z":"99ccde8b.e0dcf","name":"","lang":"en-US","band":"BroadbandModel","x":315,"y":81,"wires":[["78a4da06.2d6354"]]},{"id":"78a4da06.2d6354","type":"debug","z":"99ccde8b.e0dcf","name":"","active":true,"console":"false","complete":"transcription","x":565,"y":81,"wires":[]},{"id":"478d31b7.8a13c","type":"inject","z":"99ccde8b.e0dcf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":139,"wires":[["cefc692f.183788"]]},{"id":"cefc692f.183788","type":"dropbox","z":"99ccde8b.e0dcf","dropbox":"","filename":"SpaceShuttle.wav","name":"Dropbox","x":300,"y":139,"wires":[["4dbfd43a.39b9ec"]]},{"id":"4dbfd43a.39b9ec","type":"watson-speech-to-text","z":"99ccde8b.e0dcf","name":"","lang":"en-US","band":"BroadbandModel","x":520,"y":139,"wires":[["a8842e6.81376d"]]},{"id":"a8842e6.81376d","type":"debug","z":"99ccde8b.e0dcf","name":"","active":true,"console":"false","complete":"transcription","x":770,"y":139,"wires":[]},{"id":"1894ab95.3037b4","type":"inject","z":"7c88ce6d.23512","name":"Start Conversation","topic":"","payload":"Hello !","payloadType":"str","repeat":"","crontab":"","once":false,"x":128.5,"y":69,"wires":[["27790a7d.b5d566"]]},{"id":"2c3fbceb.3f4804","type":"comment","z":"7c88ce6d.23512","name":"Link to the Lab instructions (to come)","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":158,"y":22,"wires":[]},{"id":"89671df2.06c06","type":"comment","z":"7c88ce6d.23512","name":"Make sure you bind Conversation Service to Node-RED App !","info":"When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Watson Conversation Service has to be bound to the Node-RED application.\n","x":537,"y":22,"wires":[]},{"id":"3391faf5.e3e166","type":"watson-tone-analyzer-v3","z":"f44213e0.6b0cc","name":"","tones":"emotion","sentences":"true","contentType":"false","x":578.2777557373047,"y":133.4027862548828,"wires":[["bde75f46.94e3a"]]},{"id":"27790a7d.b5d566","type":"watson-conversation-v1","z":"7c88ce6d.23512","name":"","workspaceid":"","x":322.27427673339844,"y":69.11111450195312,"wires":[["511151e9.6199","71030fcd.6911f"]]},{"id":"511151e9.6199","type":"debug","z":"7c88ce6d.23512","name":"","active":true,"console":"false","complete":"false","x":661.2847137451172,"y":66.11805725097656,"wires":[]},{"id":"71030fcd.6911f","type":"function","z":"7c88ce6d.23512","name":"re-use context","func":"msg2 = {};\nmsg2.payload = \"\";\nmsg2.params = { \"context\": msg.payload.context};\nreturn msg2;","outputs":1,"noerr":0,"x":349.2847137451172,"y":129.07640075683594,"wires":[["d32d9763.12a348","eed49b16.29b1c8"]]},{"id":"d32d9763.12a348","type":"function","z":"7c88ce6d.23512","name":"Continue conversation","func":"msg.payload =  \"play something for me\";\nreturn msg;","outputs":1,"noerr":0,"x":367.2847137451172,"y":177.08334350585938,"wires":[["3c070d50.1e3062","6de81096.de454"]]},{"id":"eed49b16.29b1c8","type":"debug","z":"7c88ce6d.23512","name":"","active":true,"console":"false","complete":"params","x":653.2812347412109,"y":124.33680725097656,"wires":[]},{"id":"6de81096.de454","type":"watson-conversation-v1","z":"7c88ce6d.23512","name":"continue conversation","workspaceid":"","x":408.2743377685547,"y":238.34375,"wires":[["d2519697.9f84d8"]]},{"id":"d2519697.9f84d8","type":"debug","z":"7c88ce6d.23512","name":"","active":true,"console":"false","complete":"false","x":653.2742767333984,"y":239.125,"wires":[]},{"id":"3c070d50.1e3062","type":"debug","z":"7c88ce6d.23512","name":"","active":false,"console":"false","complete":"false","x":644.8368209615165,"y":174.68055570272753,"wires":[]}]
